@font-face {
    font-family: Poppins-Regular;
    src: url(assests/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family:Poppins-Medium;
    src: url(assests/fonts/Poppins-Medium.ttf);
}
.banner{
    background-image: url(assests/img/background-shaykis.png);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit:cover;
    height:625px;
    text-align: center;
    width: 100%;

}
.inner_box{
    padding-top: 30px;
}
.img{
    margin-top: 40px;
}
.img img {
    width: 100%;
}
.button a {
    padding: 10px 30px;
    border: 3px solid #fff;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
    display: block;
    width: 300px;
    margin: 0 auto;
    font-family: Poppins-Medium;
    font-size: 22px;
    line-height: 25px;
}
a.firework_btn {
    background: rgb(237,151,32);
    /* background: linear-gradient(90deg, rgba(237,151,32,1) 35%, rgba(255,255,255,1) 100%); */
    /* background: rgb(253,183,7); */
    background: linear-gradient(170deg, #ff9800 35%, rgba(255,255,255,1) 100%);
}
a.phoneShop_btn {
    background: rgb(219,31,38);
    background: linear-gradient(170deg, rgba(219,31,38,1) 35%, rgba(255,255,255,1) 100%);
}
@media screen and (max-width:768px) {
    .banner{
        height: auto;
    }
    
}
@media screen and (max-width:425px) {
    .button a {
        padding: 8px 18px;
        width: 260px;
        font-size: 16px;
        line-height: 22px;
    }
    
}